@model IEnumerable<Thot_projet.Models.Inscription>
@{
    ViewBag.Title = "Mes cours";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Mes cours</h2>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Cours</th>
            <th>Niveau</th>
            <th>Inscrit le</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <td>@(i.Cours != null ? i.Cours.Nom : "-")</td>
                <td>@(i.Cours != null ? i.Cours.Niveau : "-")</td>
                <td>@i.InscritLe.ToString("yyyy-MM-dd")</td>
            </tr>
        }
    </tbody>
</table>
